<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pauljordan.cactuapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CactuApp">
        <activity android:name=".TecnicEspecialistaFolder.ViewReportesRecibidosActivity"></activity>
        <activity android:name=".ViewReportesEnviadosActivity" />
        <activity android:name=".GestorComunitarioFolder.ReportesEnviadosActivity" />
        <activity
            android:name=".ViewEventosActivity"
            android:label="Amenazas"
            android:theme="@style/Theme.CactuAppToolBar" />
        <activity android:name=".AdministradorFolder.RegisterEventoActivity" />
        <activity
            android:name=".AdministradorFolder.AdministrarEventosActivity"
            android:label="Amenazas"
            android:theme="@style/Theme.CactuAppToolBar" />
        <activity
            android:name=".ViewUserActivity"
            android:label=""
            android:theme="@style/Theme.CactuAppToolBar" />
        <activity
            android:name=".AdministradorFolder.AdministrarTecnicoEspecilistaActivity"
            android:label="Técnico Especilista"
            android:theme="@style/Theme.CactuAppToolBar" />
        <activity android:name=".AdministradorFolder.AdminUsersRegisterActivity" />
        <activity
            android:name=".AdministradorFolder.AdministrarGestorComunitarioActivity"
            android:label="Gestor Comunitario"
            android:theme="@style/Theme.CactuAppToolBar" />
        <activity android:name=".GestorComunitarioFolder.EventoSelectActivity" />
        <activity android:name=".GestorComunitarioFolder.ReporteEventoActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".TecnicEspecialistaFolder.MainTecnicoEspecialistaActivity" />
        <activity android:name=".GestorComunitarioFolder.MainGestorComunitarioActivity" />
        <activity android:name=".AdministradorFolder.MainAdminActivity" />
        <activity android:name=".AdministradorFolder.RegisterAdminActivity" />
        <activity android:name=".AuthOptionsActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>